html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	font-size: 100%;
	font-family: Arial;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	background-color: #000;
	line-height: 1.2;
}
a {	text-decoration: none; }
ol, ul { margin-left: 25px; }
:focus { outline: 0px; }
#utilities {
	position: fixed;
	top: 0px;
	height: 150px;
	background: url(../interface/top-black-gradient.webp) repeat-x bottom;
	width: 100%;
	z-index: 10;
}
.util {
	padding: 0px;
	z-index: 11;
}
.util h2 {
	font-size: 20px;
	text-transform: uppercase;
	color: #c6fff5;
	text-shadow: 0px 0px 2px #c3faf4, 1px 1px 0px #077c83, -1px 1px 0px #077c83, 1px -1px 0px #077c83, -1px -1px 0px #077c83;
	text-align: right;
	position: relative;
	bottom: 28px;
	margin-bottom: -20px;
}
.util h3 {
	display: block;
	margin-top: 5px;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	color: #c6fff5;
	text-shadow: 0px 0px 15px #c3faf4, 1px 1px 0px #077c83, -1px 1px 0px #077c83, 1px -1px 0px #077c83, -1px -1px 0px #077c83;
}
.blink { animation: blink 2s steps(5, start) infinite; }
@keyframes blink {
to { visibility: hidden; }
}
.util form { 
	text-align: center;
}
/* CODE WHEEL */
.util option { 
	font-weight: normal;
	font-style: normal;
	color: #c6fff5;
	background-color: #112221;
	overflow: display;
}
.util input.codewheel { 
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 150px;
	text-align: center;
	margin-top: 15px;
	font-size: 20px;
	color: #fb6e53;
	font-weight: bold;
	text-shadow: 0px 0px 10px #f1630d, 1px 1px 0px #660000;
	border: 1px solid #fb6e53;
	background-color: rgba(150, 0, 0, 0.6);
	box-shadow: 0px 0px 5px 2px #fb6e53, 0px 0px 5px 3px #cf441e inset;
}
/* DROPDOWN BOXES */
.util select {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3px;
	width: 150px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #a0dcd4;
	text-shadow: 0px 0px 3px #112221; 
	border: 1px solid #c3faf4;
	background-color: rgba(17, 34, 33, 0.5);
	background: transparent;
	box-shadow: 0px 0px 5px 2px #7cc4ba, 0px 0px 10px 5px #7cc4ba inset;
	padding-left: 3px;
	overflow: display;
}
.util select:hover { 
	color: #c6fff5;
	box-shadow: 0px 0px 5px 2px #7cc4ba, 0px 0px 5px 3px #7cc4ba inset;
}
.util ul { margin-top: 5px; list-style-type: none; }
.util ul li {display: inline; font-size: 10px; }
.util ul li a {
	text-transform: uppercase;
	padding: 5px;
	display: inline;
	margin-right: 2px;
	width: 150px;
	text-align: center;
	font-weight: bold;
	color: #a0dcd4;
	text-shadow: 0px 0px 3px #112221; 
	border-top-left-radius: 15px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 15px;
	border: 1px solid #c3faf4;
	background-color: #487771;
	background: transparent;
	box-shadow: 0px 0px 5px 2px #7cc4ba, 0px 0px 10px 5px #7cc4ba inset;
	padding-left: 3px;
	overflow: display;
}
.util ul li a:hover { 
	color: #c6fff5;
	box-shadow: 0px 0px 5px 2px #7cc4ba, 0px 0px 5px 3px #7cc4ba inset;
}
.util p {
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 12px;
	text-transform: none;
}
#interstel {
	position: fixed;
	top: 28px;
	left: 5px;
	width: 150px;
	height: 125px;
	background: url(../interface/interstel.webp) top center no-repeat;
}
#codegen {
	position: fixed;
	top: 28px;
	left: 150px;
	margin-left: 5px;
	width: 175px;
	height: 125px;
}
#codex {
	position: fixed;
	top: 28px;
	left: 0px;
	margin-left: 350px;
	height: 125px; 		
	width: 700px;
}
#codexselect { width: 225px; margin-bottom: 5px; }
#legend {
	font-size: 16px;
	height: 95px;
	margin-left: auto;
	margin-right: auto;
}
#legend .column {
	float: left; 
	width: 200px;
	margin-right: -35px;	
}
#legend h4 {
	font-size: 16px; 
	text-align: center; 
	margin-right: 50px; 
	margin-left: 50px;
}
#legend ul { margin-top: 2px; }
#legend ul li {
	font-weight: normal;
	display: block;
	font-size: 9px;
	list-style-type: none;
}
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../interface/inputboxes.webp) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(../interface/inputboxes.webp) -19px top no-repeat;
}
.codex ul li.notes {
	font-size: 8px;
}
#science {
	position: fixed;
	top: 190px;
	left: 150px;
	width: 900px;
	font-weight: normal;
}
#science h6 { font-size: 14px; margin-top: 5px; }
#science .column { padding: 5px; float: left; width: 210px; }
#science p { margin-left: 5px; margin-top: 2px; }
#science ul li { text-transform: uppercase; margin-left: 5px; list-style-type: none; display: block; margin-bottom: 2px; font-size: 11px; }
#science .startypes { margin-left: 10px; margin-right: 25px; background: rgba(2, 49, 51, 0.9); }
#science .startypes img { position: relative; top: 25px; width: 60px; height: 60px; margin-top: -40px; }
#science .startypes ul { margin-left: 0px; }
#science .startypes ul li { font-size: 12px; height: 30px; margin-left: 0px; text-transform: none; margin-bottom: -5px; }
#science .startypes .planettype { position: relative; top: -2px; margin-left: 10px; float: left; height: 14px; width: 14px; border-radius: 10px; background: url(../interface/planet-highlight.webp) no-repeat top left; }
#science th { padding-left: 10px; font-size: 12px; text-align: left; }
#science td { padding-left: 15px; width: 90px; text-indent: -10px; font-size: 12px; }
#science .linebreak { display: block; margin-left: 10px; }
#engineering {
	position: fixed;
	top: 190px;
	left: 150px;
	width: 900px;
	font-weight: normal;
}
#engineering h6 { font-size: 14px; margin-top: 5px; }
#engineering .column { padding: 5px; float: left; width: 210px; }
#engineering p { margin-left: 5px; margin-top: 2px; }
#engineering ul li { text-transform: uppercase; margin-left: 5px; list-style-type: none; display: block; margin-bottom: 2px; font-size: 11px; }
#engineering th { padding-left: 10px; font-size: 12px; text-align: left; }
#engineering td { padding-left: 15px; width: 90px; text-indent: -10px; font-size: 12px; }
#engineering .linebreak { display: block; margin-left: 10px; }
#combat {
	position: fixed;
	top: 190px;
	left: 150px;
	width: 900px;
	font-weight: normal;
}
#combat h6 { font-size: 14px; margin-top: 5px; }
#combat .column { padding: 5px; float: left; width: 210px; }
#combat p { margin-left: 5px; margin-top: 2px; }
#combat ul li { text-transform: uppercase; margin-left: 5px; list-style-type: none; display: block; margin-bottom: 2px; font-size: 11px; }
#combat th { padding-left: 10px; font-size: 12px; text-align: left; }
#combat td { padding-left: 15px; width: 90px; text-indent: -10px; font-size: 12px; }
#combat .linebreak { display: block; margin-left: 10px; }
#history {
	position: fixed;
	top: 190px;
	left: 150px;
	width: 900px;
	font-weight: normal;
}
#history .column { width: 430px; margin-right: 15px; float: left; }
#history h6 { font-size: 14px; margin-top: 5px; }
#history ul { margin-left: 10px; }
#history ul li { display: block; font-size: 12px; text-transform: none; text-indent: -45px; margin-left: 45px; margin-bottom: 8px; }
#tech {
	position: fixed;
	top: 190px;
	left: 150px;
	width: 900px;
	font-weight: normal;
}
#tech h6 { font-size: 14px; margin-top: 5px; }
#tech .artifactname { font-weight: bold; text-transform: uppercase; }
#tech .column { padding: 5px; float: left; width: 440px; }
#tech ul li { text-transform: none; margin-left: 5px; list-style-type: none; display: block; margin-bottom: 10px; text-indent: -20px; font-size: 13px; }
#profileselect { text-transform: none; }
.alienprofile {
	position: fixed;
	top: 190px;
	left: 400px; 
	height: 70px; 
	width: 590px; 
	border-top-left-radius: 15px; 
	border-top-right-radius: 10px; 
	border-bottom-left-radius: 10px; 
	border-bottom-right-radius: 15px; 
	padding: 5px; 
}
.alienprofile h5 { font-size: 16px; margin-top: -25px; text-align: right; }
.alienprofile h5 span { font-size: 75%; }
.alienprofile p { text-transform: none; }
.alienprofile ul.race { float: left; margin-right: 10px; }
.alienprofile ul.race li { text-indent: -15px; list-style-type: none;  width: 200px;  font-weight: normal; display: block; }
.alienprofile div { float: left; }
.alienprofile img.race { position: fixed; top: 195px; left: 50px; width: 290px; height: 290px; background-color: rgba(0, 0, 0, 0.5); }
.alienprofile .fleet { position: absolute; top: 90px; left: -50px; width: 820px; display: block; }
.alienprofile .ship { text-align: center; float: left; height: 100px; width: 345px; margin-right: 8px; margin-bottom: 10px; overflow: hidden; }
.alienprofile .ship img { position: relative; float: left; top: -20px; left: 0px; margin-right: 0px; margin-bottom: 10px; width: 140px; height: 140px; }
.alienprofile .ship h5 { font-size: 14px; margin-top: 3px; margin-bottom: 2px; margin-right: 20px; text-align: right;  }
.alienprofile .ship ul { display: block; font-weight: normal; line-height: 12px; font-size: 10px; margin-top: 0px; }
.alienprofile .ship ul li { float: left; width: 100px; display: inline; }
.alienprofile .ship ul li.notes { width: 275px; clear: right; display: block; float: none; text-indent: -10px; position: relative; left: 10px; line-height: 13px; }
#map { position: absolute; top: 0; left: 0; }
#map .starmap {
	position: relative;
	display: block;
	width: 2824px;
	height: 2600px;
	overflow: hidden;
	z-index: 3;
}
#nebulae { position: absolute; left: 0px; top: 0px; }
.nebulae {
	margin-top: 60px; 
	position: absolute;
	display: block;
}
.nebulae img { display: block; }
#stars { position: absolute; left: 0px; top: 0px; }
.star { 
	margin-top: 60px;
	position: absolute;
	display: block;
	width: 100px;
	height: 100px;
}
#wstars .star { background: url(../map/star-white.webp); }
#rstars .star { background: url(../map/star-red.webp); }
#ostars .star { background: url(../map/star-orange.webp);}
#ystars .star { background: url(../map/star-yellow.webp); }
#gstars .star { background: url(../map/star-green.webp); }
#tstars .star { background: url(../map/star-teal.webp); }
#bstars .star { background: url(../map/star-blue.webp); }
#alienscript .writing { position: absolute; }
#alienscript .writing img { display: block; }
#starfield {
	position: fixed;
	top: -50px;
	left: -50px;
	width: 2824px;
	height: 2600px;
	background: url(../interface/starfield.webp) top left no-repeat;
	z-index: -1;
}
#north { 
	position: fixed;
	width: 2824px;
	height: 50px;
	top: 0px;
	left: 0px;
	z-index: 5;
}
#south { 
	position: fixed;
	width: 2824px;
	height: 50px;
	bottom: 0px;
	left: 0px;
	z-index: 5;
}
#west { 
	position: fixed;
	width: 75px;
	height: 2600px;
	top: 0px;
	left: 0px;
	z-index: 5;
}
#east { 
	position: fixed;
	width: 100px;
	height: 2600px;
	top: 0px;
	right: 0px;
	z-index: 5;
}
.territorycircle {
	border: 1px solid #17aeaa; 
	box-shadow: 0px 0px 5px 1px #228583, 0px 0px 30px -5px #326a66 inset;
}
#territoriesdetail .territorylabel { font-size: 24px; }
.border-shape {
	border-top-left-radius: 8px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 8px;
}
.border-shape2 {
	border-top-left-radius: 15px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 15px;
}
.bg-interstel { 
	background-color: rgba(30, 67, 62, 0.7);
	box-shadow: 0px 0px 12px 3px #c3faf4, 0px 0px 30px 15px #112221 inset;
}
.bg-velox { background: url(../interface/bg-velox.webp) top left; }
.bg-mechans { background: url(../interface/bg-mechans.webp) top left; }
.bg-elowan { background: url(../interface/bg-elowan.webp) top left; }
.bg-spemin { background: url(../interface/bg-spemin.webp) top left; }
.bg-thrynn { background: url(../interface/bg-thrynn.webp) top left; }
.bg-gazurtoid { background: url(../interface/bg-gazurtoid.webp) top left; }
.bg-uhlek { background: url(../interface/bg-uhlek.webp); }

.bg-velox2 { background: url(../interface/bg-velox.webp) bottom right; }
.bg-mechans2 { background: url(../interface/bg-mechans.webp) bottom right; }
.bg-elowan2 { background: url(../interface/bg-elowan.webp) bottom right; }
.bg-spemin2 { background: url(../interface/bg-spemin.webp) bottom right; }
.bg-thrynn2 { background: url(../interface/bg-thrynn.webp) bottom right; }
.bg-gazurtoid2 { background: url(../interface/bg-gazurtoid.webp) bottom right; }
.bg-uhlek2 { background: url(../interface/bg-uhlek.webp) bottom right; }
.border-interstel {
	border: 1px solid #c3faf4; 
	box-shadow: 0px 0px 12px 3px #009980, 0px 0px 30px -5px #009980 inset;
}
.border-velox {
	border: 1px solid #dc232d; 
	box-shadow: 0px 0px 5px 1px #a20000, 0px 0px 30px -5px #c00a0a inset;
}
.border-mechans {
	border: 1px solid #ffd861; 
	box-shadow: 0px 0px 5px 1px #e49a17, 0px 0px 30px -5px #daa134 inset;
}
.border-elowan { 
	border: 1px solid #fffa79; 
	box-shadow: 0px 0px 5px 1px #e6c823, 0px 0px 30px -5px #ffea00 inset;
}
.border-thrynn {
	border: 1px solid #80eead; 
	box-shadow: 0px 0px 5px 1px #2dc66c, 0px 0px 30px -5px #4ef090 inset;
}
.border-gazurtoid {
	border: 1px solid #81bef3; 
	box-shadow: 0px 0px 5px 1px #0088ff, 0px 0px 30px -5px #4394db inset;
}
.border-spemin {
	border: 1px solid #bcf657; 
	box-shadow: 0px 0px 5px 1px #55b61b, 0px 0px 30px -5px #5c9f38 inset;
}
.border-uhlek {
	border: 1px solid #ff6dc7; 
	box-shadow: 0px 0px 5px 1px #ff00c6, 0px 0px 30px -5px #c50099 inset;
}
.text-interstel {
	color: #c6fff5; 
	font-size: 18pt;  
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 0px #1e433e;
}
.text-velox {
	color: #dc232d;  
	text-transform: uppercase; 
	font-weight: bold; 
	text-shadow: 0px 0px 2px #a20000;
}
.text-mechans {
	color: #ffd861; 
	text-transform: uppercase; 
	font-weight: bold; 
	text-shadow: 0px 0px 2px #e49a17;
}
.text-elowan {
	color: #fffa79;  
	text-transform: uppercase; 
	font-weight: bold; 
	text-shadow: 0px 0px 2px #ea8c06;
}
.text-thrynn {
	color: #80eead;  
	text-transform: uppercase; 
	font-weight: bold; 
	text-shadow: 0px 0px 2px #2dc66c;
}
.text-gazurtoid {
	color: #44a8ff;  
	text-transform: uppercase; 
	font-weight: bold; 
	text-shadow: 0px 0px 2px #0088ff;
}
.text-spemin {
	color: #bcf657;  
	text-transform: uppercase; 
	font-weight: bold; 
	text-shadow: 0px 0px 2px #55b61b;
}
.text-uhlek {
	color: #ff6dc7;  
	text-transform: uppercase; 
	font-weight: bold; 
	text-shadow: 0px 0px 2px #ff00c6;
}
#fluxes {
	position: absolute;
	top: 350px;
	left: 150px;
	width: 2500px;
	height: 2100px;
	background: url(../map/fluxes.webp) top left no-repeat;
}
.maptext { 	
	text-transform: uppercase;
	color: #c6fff5;
	text-shadow: 0px 0px 2px #c3faf4, 1px 1px 0px #1e433e, -1px 1px 0px #1e433e, 1px -1px 0px #1e433e, -1px -1px 0px #1e433e;
}
ul.xcoords {
	list-style-type: none;
	margin-left: 115px;
	margin-top: 0px;
	text-align: center;
}
ul.xcoords li { 
	font-size: 20px;
	list-style-type: none;
	width: 45px;
	float: left;
	margin-right: 57px; 
	margin-bottom: 0px;
}
ul.ycoords {
	list-style-type: none;
	text-align: center;
	margin-left: 0px;
	margin-top: 180px;
}
ul.ycoords li { 
	font-size: 20px;
	list-style-type: none;
	width: 45px;
	display: block;
	margin-left: 0px; 
	margin-bottom: 79px;
}
#grid {
 	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
#grid .x { 
	display: block;
	position: absolute;
	left: 137px;
	width: 2660px;
	height: 2300px;
}
#grid .xgrid {
	float: left;
	display: block;
	width: 101px;
	height: 2600px;
	margin-right: 101px;
	border-left: 1px solid #108885;
	border-right: 1px solid #108885;
	box-shadow: 0px 5px 5px #008581, 0px 5px 5px #008581 inset;
}
#grid .y { 
	display: block;
	position: absolute;
	top: 91px;
	height: 2300px;
	width: 2815px;
}
#grid .ygrid {
	display: block;
	width: 100%;
	height: 102px;
	margin-top: 102px;
	border-top: 1px solid #108885;
	border-bottom: 1px solid #108885;
	box-shadow: 5px 0px 5px #008581, 5px 0px 5px #008581 inset;
}
#fleets img { position: absolute; width: 45px; height: 45px; }
.system { position: absolute; }
.system h5 { display: inline; }
.pointer { position: absolute; top: 10px; height: 2px; background: #c6fff5; box-shadow: 1px 1px 0px #077c83; }
ul.properties { display: inline; margin-left: 2px; }
ul.properties li { display: inline; border-radius: 3px; border-right: 1px solid #c6fff5; border-left: 1px solid #c6fff5; padding-left: 3px; padding-right: 3px; font-size: 10px; }
li.planet { font-size: 12px; list-style-type: none; border-left: 2px solid #c6fff5; border-radius: 4px; width: 300px; padding-left: 2px;  }
.text-success { color: #afa; text-shadow: 1px 1px #080; }
.text-warning { color: #ff8; text-shadow: 1px 1px 0px #831; }
.text-danger { color: #f80; text-shadow: 1px 1px 0px #800; }
.text-activity { color: #f4c; text-shadow: 1px 1px #606; }
.text-interest { color: #0ff; }
.landingcoords { font-size: 10px; }
